.landing-page {
  background: white url("assets/img/bg.jpg") no-repeat scroll center;
  height: 100vh;
  background-size: cover;
  color: white;
}

.wrapper {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
}
